*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #4070f4 ;
    padding: 3px;
    margin-bottom: 10px;
}
.image .propile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #ffff;
    
    
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    
}
.propile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background-color: #ffff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1) ;
    border-radius: 24px;
    padding: 25px;
    position: relative;
    
}
.propile-card .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
   
}
.text .name{
    font-size: 22px;
    font-weight: 500;
}
.text .job{
    font-size: 15px;
    font-weight: 400;
}
.propile-card .media-button{
    display: flex;
    align-items: center;
    margin-top: 15px;

}
.media-button .link{
    text-decoration: none;
    background-color: #4070f4;
    margin: 0 8px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    font-size: 18px;
}
.propile-card .buttons{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.buttons .button{
    background-color: #4070f4;
    padding: 8px 24px;
    margin: 0 10px;
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 17px;
    color: #ffff;
    cursor: pointer;
    transition: all .3s ease;
    
}
.buttons .button:hover{
    background-color: #0e4bf1;
    box-shadow: 3px 4px 10px black;


}
.analysis{
    display: flex;
    margin-top: 25px;
    
    

}
.analysis .data{
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 19px;
    border-right: 3px solid #e7e7e7 ;
    color: rgba(0, 0, 0, 0.7);
}
.data:last-child{
    border-right: none;
}
.propile-card::before{
    content: "";
    position: absolute;
    height: 34 %;
    width: 100%;
    background-color: #0e4bf1;
    top: 0;
    left: 0;
    border-radius: 24px 24px 0 0;
}


